<div class="container">
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li>{{#link-to 'posts' }}Posts{{/link-to}}</li>
			<li>{{#link-to 'about' }}About{{/link-to}}</li>
			<li>{{#link-to 'contact' }}Contact{{/link-to}}</li>
		</ul>
	</nav>
	<div class="'col-md-6'">
		{{outlet}}
	</div>
</div>